<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MainWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8084/WFBSWebService/MainWS"
                binding="basicHttpBinding" bindingConfiguration="MainWSPortBinding"
                contract="WSReference.MainWS" name="MainWSPort" />
        </client>
    </system.serviceModel>
</configuration>